.nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 2px solid black;
}

.grid_3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}
.grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  align-items: center;
  margin: 10%;
}

.grid_2-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 10%;
}

/* .product-list {
  display: flex;
  flex-wrap: wrap;} */

article.grid_2-1 {
  display: flex;
  flex-direction: row; /* Standard rækkefølge: børnene følger rækkefølgen i HTML */
}

@media screen and (max-width: 768px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid_2 {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
  article.grid_2-1 {
    flex-direction: column; /* Skift til kolonne-layout på mindre skærme */
  }

  /* Ryk billedsektionen til toppen */
  .container_billede {
    order: -1; /* Sætter billedsektionen øverst i rækkefølgen */
  }
}
