main {
  max-width: 1200px;
  margin-left: 10%;
  margin-right: 5%;
}

@font-face {
  font-family: titil;
  src: url(fonts/titilliumweb-regular-webfont.woff2-kopi);
}

h1,
h2,
h3,
p,
a,
nav {
  font-family: titil;
}

h1 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
a {
  font-size: 20px;
}

nav a {
  padding: 2em;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

nav {
  text-align: right;
  margin: 50px;
}
a {
  color: #000000;
  text-decoration: none;
  transition: transform 0.3s;
}

img .logo {
  max-width: 100%;
  margin-top: 20%;
}

.container_billede {
  display: flex;
  justify-content: center;
  align-items: center;
}
.produkt_billede {
  max-width: 60%;
  align-items: center;
}

.knap_kurv,
.knap_fav {
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  padding: 10px 20px; /* Juster polstringen efter behov */
  color: #333; /* Tekstfarve for knapper */
  text-decoration: none; /* Fjern understregning fra links */
  border-radius: 5px; /* Afrund hjørnerne af knapper */
}
.knap_hjerte,
.knap_indkøb {
  max-width: 30%;
}
.product-link {
  flex: 0 0 calc(33.33% - 20px); /* 33.33% - 20px for at have tre produkter på hver linje med plads imellem */
  margin: 10px; /* Tilføj lidt plads mellem produkterne */
}

article {
  /* Tilpas stilen på hvert produktartikel efter behov */
  background-color: rgba(214, 205, 214, 0.283);
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

article img {
  max-width: 100%;
  height: auto;
}

article h3 {
  font-size: 22px;
  margin: 2px 0;
}

article p {
  font-size: 20px;
  margin: 5px 0;
}
.article:hover {
  transform: scale(1.1); /* Gør produktet 10% større ved hover */
}
.article .price {
  font-weight: bold;
  color: #333;
}

.category-link {
  text-decoration: none;
  flex: 0 0 50%; /* To kategorier pr. række på stor skærm */
  border-bottom: 1px solid #ccc; /* Border under hver kategori */
  box-sizing: border-box;
}

.category {
  padding: 20px;
}

.Indkøbskurv,
.hjerte {
  max-width: 5%;
}

.udsolgt {
  position: absolute;
  top: 7px;
  left: 21px;
  font-family: titil;
  font-size: 25px;
  background-color: rgba(1, 1, 1, 0.437);
  color: white;
  padding: 5%;
  border-radius: 5%;
}
.tilbud {
  position: absolute;
  bottom: 133px;
  right: 20px;
  font-size: 25px;
  background-color: rgba(224, 90, 90, 0.437);
  color: white;
  padding: 4%;
  border-radius: 5%;
}
.discounted-price {
  color: red; /* Eksempel på en anden farve */
  font-weight: bold; /* Fremhæv den rabatterede pris med fed skrift */
  /* Eventuelle andre stilarter efter behov */
}

@media screen and (max-width: 768px) {
  nav {
    margin: 0;
  }
  nav a {
    padding: 0;
  }
  .category-link {
    flex-basis: 100%; /* En kategori pr. række på mindre skærm */
  }
  .categories {
    flex-direction: column; /* Skift retning til kolonne på mindre skærme */
  }
  .product-link,
  .product-list {
    flex-direction: column;
  }
  article {
    flex-direction: column; /* Ændrer layout til kolonne på mindre skærme */
  }
  .knap_hjerte,
  .knap_indkøb {
    max-width: 10%;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
}
